body {
    padding: 0;
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    font-size: 1em;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    overflow: hidden;
    width: 100%;
}

.navbar{
    float: right;
    display: block;
}

.navbar-item {
    padding-left: 3px;
    padding-right: 3px;
}

.name {
    display: block;
    float: left;
    font-size: 2.5em;
    margin-top: 0px;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

.tab { 
    display:inline-block; 
    margin-left: 40px; 
}
