/* #main-emoji-container {
  max-width: 350px;
  width: 100%;
}

#main-emoji {
  width: 100%;
}

#github-heatmap {
  width: 100%;
  max-width: 800px;
} */

/* #main-container {
  max-width: 800px;
  margin: 90px auto auto;
} */

#ivan {
  margin: 0px 0px 10px 40px; 
  max-width: 300px;
  display: block;
  float: right;
}

#about-me {
  overflow: auto;
}

.pubtitle {
  font-size: 17px;
}

.pubimage {
  max-width: 200px;
  max-height: 100%;
  display: block;
  float: right;
}

.pubtext {
  overflow: auto;
}