<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/about.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    Just someone who's obsessed with how absolutely everything works.
    <br/><br/>
    Currently, I study, research, and teach at the University of Washington, primarily in machine learning and natural language processing. I'm currently at Apple as an NLP and Deep Learning Research Intern working on reliable information transfer in cross lingual question answering systems!
    <br/><br/>
    <details>
        <summary>Resume-esque Information</summary>
        <br>
        Passionate Machine Learning Researcher and Computer Science Student at the University of Washington<br/><br/>
        <h3 class="subtitle"><u>Education:</u></h3>
        <i><b>University of Washington</b> -- Seattle</i><br/>
        &emsp;&emsp;M.S. Computer Science (Beginning Autumn 2020)<br/>
        &emsp;&emsp;B.S. Computer Science (Sept. 2017 – June 2020) <br/>
        <br/>
        <h3 class="subtitle"><u>Experience:</u></h3>
        <i><b>Google</b> -- Seattle, WA</i> <br/>
        Software Englineering Intern<br/>
        <span class="tab">
            Upcoming (Summer 2020)<br/>
        </span>
        <br/><br/>
        <i><b>Apple</b> -- Seattle, WA</i> <br/>
        NLP and Deep Learning Research Intern, Turi (Siri)<br/>
        <span class="tab">
            Siri Question Answering<br/>
        </span>
        <br/><br/>
        <i><b>University of Washington</b> -- Seattle, WA </i> <br/>
        Teaching Assistant, Machine Learning (CSE 446)<br/>
        <span class="tab">
            TODO<br/>
        </span>
        <br/><br/>
        <i><b>University of Washington</b> -- Seattle, WA </i> <br/>
        Research Assistant, Noah's ARK (Natural Language Processing) Group <br/>
        <span class="tab">
            TODO<br/>
        </span>
        <br/><br/>
        <i><b>Google</b> -- Kirkland, WA </i><br/>
        Software Engineering Intern, Ads <br/>
        <span class="tab">
            TODO<br/>
        </span>
        <br/><br/>
        <i><b>University of Washington</b> -- Seattle</i><br/>
        Teaching Assistant, Software Design and Implementation (CSE 331) <br/>
        <span class="tab">
            TODO<br/>
        </span>
        <br/><br/>
        <i><b>University of Washington</b> -- Seattle</i><br/>
        Research Assistant, Seattle Children's Research Institute <br/>
        <span class="tab">
            TODO<br/>
        </span>
        <br/><br/>
        <i><b>Google</b> -- Mountain View, CA </i><br/>
        Engineering Practicum Intern, Image Understanding Research and Photos Machine Intelligence <br/>
        <span class="tab">
            TODO<br/>
        </span>
        <br/><br/>
        <h3 class="subtitle"><u>Coursework:</u></h3>
        <span class="tab">
          <ul>
              <li>Winter 2020 (Current): CSE 452, CSE M 547, CSE 499, BIME 499</li>
              <li>Autumn 2019: CSE 599G1, CSE 455, MATH 407, SOC 225</li>
              <li>Spring 2019: CSE 446, CSE 490R, CSE 131, MATH 307, BIME 499</li>
              <li>Winter 2019: CSE 333, PHYS 123, MATH 300, BIME 499, HCDE 496</li>
              <li>Autumn 2018: CSE 312, CSE 332, PHYS 122, INFO 101</li>
              <li>Spring 2018: CSE 311, CSE 351, CSE 391, LING 200</li>
              <li>Winter 2017: CSE 331, CSE 464, MATH 308, COM 220</li>
              <li>Autumn 2017: CSE 190, MATH 126, ENGL 111, ENVIR 100</li>
          </ul>
        </span>
    </details>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>