<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/index.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <img id="ivan" src="../static/ivan.jpg">
    Welcome!
    <br/><br/>
    This very-much-under-construction website contains a bunch of miscellenous
    things about me, things I've worked on, and various notes I've written down. Feel free to poke around!
    <br/><br/>
    (the dog's name is Luna)
    <br/><br/>
    What I'm doing now: Making Apple's Siri better
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>